$color-primary: #005172;
$color-secondary: #3095B4;
$color-link: #009ECE;

$color-scale-low: #69C568;
$color-scale-middle-low: #B9C552;
$color-scale-middle: #FFC341;
$color-scale-middle-high: #F79851;
$color-scale-high: #EC6660;
$color-scale-worst: #B54039;

$color-chart-1: #4EB1CB;
$color-chart-2: #717ECD;
$color-chart-3: #D96383;
$color-chart-4: #D291D6;
$color-chart-5: #C3D785;

$color-secondary-1: #E1A357;
$color-secondary-2: #BC4C05;
$color-secondary-3: #D06079;
$color-secondary-4: #963156;
$color-secondary-5: #C55E9B;
$color-secondary-6: #8F3F6D;
$color-secondary-7: #9C5FB5;
$color-secondary-8: #693A77;
$color-secondary-9: #73AF55;
$color-secondary-10: #284E36;
$color-secondary-11: #00B2A9;
$color-secondary-12: #006265;

$color-black: #161919;
$color-gray: #6B6D6F;
$color-gray-lighter: #CBCDCE;

$color-divider: #D5DEE3;
$color-white: #FFFFFF;
$color-bg-dark-blue: #003B53;
$color-bg-gray-blue: #F1F6F8;

$color-bg-primary: #E5F1F6;
$color-bg-gray: #F6F7F8;
$color-bg-grayer: #FAFAFA;
$color-bg-grayest: rgba(246, 247, 248, .4);
$color-thead-bg: #e7f1f5;



$color-transparent-green: rgba(87,161,28,0.2);
$color-transparent-red: rgba(210,30,23,0.2);
$color-transparent-yellow: rgba(233,147,55,0.2);

